@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #1E1E1E;
  color: white;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
body a {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
}

header {
  width: 100vw;
  background-color: black;
}
header .navButton {
  background-color: #474747;
  display: flex;
  flex-flow: row;
}
header .navButton img {
  width: 40px;
  height: auto;
}
header .navName p {
  margin: 0;
}

.formSubmit {
  box-sizing: border-box;
  width: 86px;
  height: 48px;
  color: white;
  background: #C12F67;
  border: 1px solid #C12F67;
  border-radius: 5px;
  cursor: pointer;
}

.Form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column;
  max-width: 250px;
  row-gap: 20px;
  align-items: center;
}

.message {
  display: flex;
  padding: 0px 10px;
  border: 5px solid #C12F67;
  border-radius: 5px;
}

.formBox {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 15px;
  height: 48px;
  background: #121212;
  border: 1px solid #3c3b3d;
  border-radius: 5px;
  color: white;
}

.formBox:focus {
  outline: 2px solid white;
}