@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #1E1E1E;
  color: white;
  font-family: 'Roboto', sans-serif;

  & a {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
  }
}

header {
  width: 100vw;
  background-color: black;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;

  .navName {
    margin-left: 5px;
  }

  .navButtons {
    padding: 5px 0 5px 0;
    margin-right: 5px;
    display: flex;
    flex-flow: row;
    gap: 20px;

    .navButton {
      border-radius: 10px;
      background-color: #474747;
      display: flex;
      flex-flow: row;
      align-items: center;

      & p {
        padding: 0 10px 0 10px;
        margin: 0;
      }

      & img {
        padding: 6px;
        background-color: black;
        border-radius: 10px;
        width: 30px;
        height: auto;
      }
    }
  }

  .navName {
    p {
      margin: 0;
    }
  }
}

section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.comment {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.posts {
  display: flex;
  flex-flow: column-reverse;
  gap: 20px;
  width: 100%;
  .post {
    p {
      overflow-wrap: break-word;
      white-space: normal;
      max-width: 127ch;
    }
    display: flex;
    flex-flow: row;
    align-self: center;
    gap: 40px;
    padding: 0 10px 0 10px;
    background-color: #3c3b3d;
    border-radius: 10px;
  }
}

.index_links_wrapper {
  padding: 3px;
  background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
  border-radius: 10px;
  .index_links {
    .index_link {
      a {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      }
      img {
        max-height: 50px;
      }
    }
    display: flex;
    flex-flow: row;
    gap: 40px;
    background-color: #121212;
    align-items: center;
    width: fit-content;
    padding: 40px;
    border-radius: 10px;
  }
}

.formSubmit {
  box-sizing: border-box;
  width: 86px;
  height: 48px;
  color: white;
  background: #C12F67;
  border: 1px solid #C12F67;
  border-radius: 5px;
  cursor: pointer;
}

.Form {
  & h1 {
    margin: 0;
  }

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column;
  max-width: 250px;
  row-gap: 20px;
  align-items: center;
}

.message {
  display: flex;
  padding: 0px 10px;
  border: 5px solid #C12F67;
  border-radius: 5px;
}

.formBox {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 15px;
  height: 48px;
  background: #121212;
  border: 1px solid #3c3b3d;
  border-radius: 5px;
  color: white;
}

.formBox:focus {
  outline: 2px solid white;
}

footer {
  position: absolute;
  margin-right: 16px;
  bottom: 0;
  right: 0;
}